<main class="developers-new">
  <%= form_with model: @developer do |form| %>
    <header class="developers-new__header">
      <h1><%= t 'developers.new.title' %></h1>
      <p><%= t 'developers.new.description' %></p>
    </header>

    <div class="developers-new__form-group">
      <%= form.label :email, t('developers.new.email.label'), class: 'developers-new__form-label' %>
      <%= form.text_field :email, placeholder: t('developers.new.email.placeholder'), class: 'developers-new__form-input' %>
    </div>

    <% Skill.find_each do |skill| %>
      <%= form.fields_for :developer_skills, @developer.developer_skills.build(skill: skill) do |skill_fields| %>
        <div class="developers-new__form-group">
          <%= skill_fields.hidden_field :skill_id %>
          <span><%= t 'developers.new.points.label', skill: skill_fields.object.skill.name %></span>
          <div class="developers-new__form-radio-group">
            <% 1.upto(5) do |i| %>
              <div class="developers-new__form-radio">
                <%= skill_fields.label :points, i %>
                <%= skill_fields.radio_button :points, i %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= form.submit t('developers.new.submit'), class: 'developers-new__submit' %>
  <% end %>
</main>
