<main class="skills">
  <ul class="skills__list">
    <% @skills.each do |skill| %>
      <li class="skills__item">
        <%= link_to skill do %>
        <span class="skills__avatar"><%= skill.name[0].upcase %></span>
        <span><%= skill.name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to new_skill_path do %>
    <button class="skills__form-button"><span class="material-icons">add</span></button>
  <% end %>
</main>


<%= render 'shared/bottom-bar' %>
